@charset "utf-8";

@import url('https://rsms.me/inter/inter.css');

// Initial bulma variables
$grey-darker: #584029;
$dark: #584029;
$grey-lighter: #f9f7f1;
$light:#f9f7f1;
$blue: #760411;
$cyan: #b8ab99;

$gap: 64px;
$desktop: 860px+(2 * $gap);
$device: 320px;
$mobile: 479px;
$fullhd-enabled: false;
$widescreen-enabled: false;

// Derived bulma variables
$primary: $grey-darker;
$link: $blue;
$link-hover: #202020;
$pre-background: $grey-lighter;
$family-sans-serif: 'Inter', sans-serif;
$body-background-color: $grey-lighter;
$navbar-background-color: $grey-lighter;
$button-background-color: $grey-lighter;
$button-border-color: $cyan;
$button-hover-border-color: $grey-darker;
$button-disabled-border-color: $grey-darker;
$button-focus-box-shadow-color: transparent;

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

@import "../node_modules/bulma/bulma.sass";

html {
    box-sizing: border-box;
    clear: both;
}

body {
    padding: 1em 1em;
    font-kerning: normal;
    font-variant-ligatures: contextual common-ligatures;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 800;
}

h5,
h6 {
    font-weight: 200;
}

.icon {
    font-size: 1.2em;
    margin: .5em .5em;
}

.button {
    &:active:not([disabled]) {
        top: 1px;
    }
}

.container {
    justify-content: center;

    .navbar {
        padding: 3rem 0rem;

        h1.title {
            color: $link;
            font-size: 3em;
            font-weight: 700;
            letter-spacing: -.03em;
            margin-left: -.05em;
        }

        .navbar-brand {
            margin-left: 0;
            align-items: center;
            justify-content: center;
        }

        .navbar-menu {
            box-shadow: 0 0 0;
            padding: 1em 0;
        }
    }
}

.content {

    /* Aligns to 72px */
    h1 {
        color: #000;
        font-size: 30px;
        letter-spacing: -0.021em;
        line-height: 42px;
        margin-bottom: 24px;
        padding-top: 6px;
    }

    /* Aligns to 72px */
    h2 {
        color: #000;
        font-size: 24px;
        letter-spacing: -0.019em;
        line-height: 34px;
        margin-bottom: 12px;
        padding-top: 24px;
    }

    /* Aligns to 48px */
    h3 {
        color: #000;
        font-size: 20px;
        letter-spacing: -0.017em;
        line-height: 28px;
        margin-bottom: 6px;
        padding-top: 12px;
    }

    /* Align to 36px */
    h4 {
        font-size: 18px;
        letter-spacing: -0.014em;
        line-height: 25px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    /* Align to 36px */
    h5 {
        color: $dark;
        font-size: 17px;
        letter-spacing: -0.013em;
        line-height: 24px;
        margin-bottom: 9px;
        padding-top: 12px;
    }

    /* Align to 36px */
    h6 {
        color: $dark;
        font-size: 16px;
        letter-spacing: -0.011em;
        line-height: 22px;
        margin-bottom: 3px;
        padding-top: 9px;
    }

    blockquote {
        background-color: #f1ebe2;
        border: 1px $cyan solid;
        border-radius: 5px;
    }

    pre {
        padding-left: 1em;
        border-radius: 5px;
        border: 1px solid #3f3f3f;
        background-color: #444;
    }

    .hljs {
        background-color: transparent;
    }

    :not(pre)>code {
        display: inline !important;
        padding: .2em;
    }

    .button {
        color: $link;
        border: 0px;

        &:hover {
            color: $link-hover;
        }
    }
}

#content-body {
    padding: 1em 0 1em 0;

    p {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.0143em;
        line-height: 1.55;
    }
}

#content-body #share {
    padding: 1em 0;
}