<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}" {{ end }}>
{{ partial "header" . }}
<body>
<div class="container" style="max-width:50em">
  {{ partial "nav" . }}
  <main class="container">
      {{ if .Pages }}
      {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups}}
      <h3 class="title is-3">{{ .Key }}</h3>
      {{ range where .Pages "Section" "posts" }}
      <article class="columns is-vcentered">
        <div class="column is-2">
          <h6 class="subtitle is-inline">{{ .Date.Format "January 2" }}</h6>
        </div>
        <div class="column">
          <h4 class="subtitle is-inline is-size-5-mobile is-size-4-desktop">
            {{ .Params.icon| safeHTML }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}
          </h4>
      </article>
      {{ end }}
      {{ end }}
      {{ end }}
  </main>
  {{ partial "pager" . }}
  {{ partial "footer" . }}
</div>
</body>
</html>
